<header class="navbar navbar-inverse bg-primary navbar-toggleable-xl">
    <nav class="">
        <%= link_to "Foodie", root_path, id: "logo" %>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item "><%= link_to "Home",   root_path %></li>
            <li class="nav-item "><%= link_to "Help",   help_path %></li>
            <% if logged_in? %>
            <li class="nav-item "><%= link_to "Users", '#' %></li>
            <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li class="dropdown-item"><%= link_to "Profile", current_user %></li>
                    <li class="dropdown-item"><%= link_to "Settings", '#' %></li>
                    <li class="divider"></li>
                    <li class="dropdown-item">
                        <%= link_to "Log out", logout_path, method: "delete" %>
                    </li>
                </ul>
            </li>
            <% else %>
                <li class="nav-item "><%= link_to "Log in", login_path %></li>
            <% end %>
        </ul>
    </nav>
</header>